<!DOCTYPE html>
<meta charset="utf-8">

<link href="/static/novus-nvd3-f74b4de/src/nv.d3.css" rel="stylesheet" type="text/css">

<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
  padding: 50px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

</style>
<body>
 
 <h3>Be patient =]</h3>
  <div id="chart">
    <svg style="height: 500px;"></svg>
  </div>

<script src="/static/novus-nvd3-f74b4de/lib/d3.v2.js"></script>
<script src="/static/novus-nvd3-f74b4de/nv.d3.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/tooltip.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/utils.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/models/legend.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/models/axis.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/models/scatter.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/models/line.js"></script>
<script src="/static/novus-nvd3-f74b4de/src/models/lineWithFocusChart.js"></script>
<script>


nv.addGraph(function() {

  var chart = nv.models.lineWithFocusChart()
                .margin({top: 30, right: 30, bottom: 50, left: 60})
                .margin2({top: 0, right: 30, bottom: 40, left: 60});
  var data;
  // TODO: Use dynamic date formats depending on range of data?
  var dateFormat = '%a %d %b %Y %H:%M:%S';
  // Enable for log scale
  var logyAxis = false
  
  d3.json("/dashboard/translate/nvd3.json", function(json, error) {
    if (error) return console.warn(error);
    data = json;
    
    chart.xAxis
        .rotateLabels(-8)
        .tickFormat(function(d) { return d3.time.format(dateFormat)(new Date(d *1000)); })

	  chart.x2Axis
        .rotateLabels(-8)
	      .tickFormat(function(d) { return d3.time.format(dateFormat)(new Date(d *1000)); })

    
    if (logyAxis) {
        chart.lines.yScale(d3.scale.log());
        chart.yAxis.tickValues([1,10,100,1000,10000,1000000]);
        chart.forceY([1,1000000]);
    }

	  chart.yAxis
	      .tickFormat(d3.format(',.2f'));
	  chart.y2Axis
	      .tickFormat(d3.format(',.2f'));

    d3.select('#chart svg')
	      .datum(data)
	    .transition().duration(500)
	      .call(chart);

  });	

  

  nv.utils.windowResize(chart.update);

  return chart;
});


</script>

